**Need a valid internet connection to work**

In [2]:
!pip install geopy

Collecting geopy
  Using cached geopy-2.0.0-py3-none-any.whl (111 kB)
Collecting geographiclib<2,>=1.49
  Using cached geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0

In [3]:
import pandas
import geopy

In [5]:
df = pandas.read_csv("C:\\Users\\fabio\\Jupyter-notebooks\\data\\supermarkets\\supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [9]:
#Gets the latlong based on a given adderess string
#Needs to be a fule address! Be careful otherwise it will return None- value!!
n = nom.geocode("3666 21st St, San Francisco, CA 94114, USA")
n

Location(3666 21st St, San Francisco, California, 94114, (37.756648011392286, -122.42937496976432, 0.0))

In [10]:
type(n)

geopy.location.Location

**Trying to read the data from the supermarkets data-frame and setting it in the format (street, city, state, country) so geopy can get the LatLong of that adderess**

In [18]:
#First we try to get all these variables in a string and save them in a column in the data-frame
df["Format_Address"] = df["Address"] + "," + df["City"] + "," + df["State"] + "," + df["Country"]
df

#Can also save it in a list
#list( df["Address"] + "," + df["City"] + "," + df["State"] + "," + df["Country"])

,ID,Address,City,State,Country,Name,Employees,Format_Address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco,CA 94114,USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco,CA 94119,USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco,California 94114,USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco,CA 94114,USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco,California,USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco,CA 94114,USA"

In [22]:
# With the apply method, we can apply a function to a selection of a data-frame!

# In this case we selected the  each data-cell of the column 'Format_Address' and give this data to the nom.geocode() method
#   to calculate the LatLong of each address in the supermarkets data-frame

#After calculating the LatLongs, the data is stored in a new column named "Coordinates in our supermarkets data-frame!
df["Coordinates"] = df["Format_Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Format_Address,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco,CA 94114,USA","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco,CA 94119,USA","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco,California 94114,USA","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco,CA 94114,USA","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco,California,USA","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco,CA 94114,USA","(551 Alvarado St, San Francisco, California, 9..."

In [26]:
#Example of what is stored in Coordinates (the first in this selection -> [0]!)
df["Coordinates"][0]
df.Coordinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.756648011392286, -122.42937496976432, 0.0))

In [27]:
#Since the data-type of the stored values in the Coordinates column is of type 'Location', 
#  we can use the Location-type methods!
# See all possible methods ==> dir(df.Coordinates[0])
df.Coordinates[0].latitude

37.756648011392286

In [32]:
df.Coordinates[0].longitude

-122.42937496976432

In [38]:
# Now it is possible that we want to have the Longtitude and Latitude of all supermarkets in our data-frame,
# in separate column 
#The next will give an error cause your getting back a selection and not a Location-type object!
#df["Coordinates"].latitude

# SOLUTION: ==> use the apply() method combined with a lambda!
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Format_Address,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco,CA 94114,USA","(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco,CA 94119,USA","(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco,California 94114,USA","(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco,CA 94114,USA","(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco,California,USA","(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco,CA 94114,USA","(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229